{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>migusta_art</title>
    <link href="{% static 'css/stylesheet.css'%}" rel= "stylesheet"/>
    <link href="{% static 'img/logo2.png'%}" rel="icon" type="image/png"/>
</head>

<body>
    <div class="logo">
    <div class="aligned">
            <h1>Migusta_Art 🎨</h1>
        <div class="navigation">
            <div class="link">
                <div class="block"><a href="{% url 'landing:index' %}">Главная</a></div>
                <div class="block"><a href="{% url 'illustration:index' %}">Иллюстрации</a></div>
                <div class="block"><a href="{% url 'order:index' %}">Как заказать</a></div>
                <div class="block"><a href="{% url 'feedback:index' %}">Отзывы</a></div>
            </div>
        </div>

    </div>

        {% block main %}{% endblock %}

        <div class="foot">2021 Migusta_art</div>

    </div>
</body>
</html>