{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>migusta_art</title>
    <link href="{% static 'css/stylesheet.css'%}" rel= "stylesheet"/>
    <link href="{% static 'img/logo2.png'%}" rel="icon" type="image/png"/>
</head>

<header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">Migusta_Art 🎨</div>

                <nav class="nav">
                    <a class="nav_link" href="{% url 'landing:index' %}">About</a>
                    <a class="nav_link" href="{% url 'illustration:index' %}">Illustration</a>
                    <a class="nav_link" href="{% url 'order:index' %}">Contacts</a>
                    <a class="nav_link" href="{% url 'feedback:index' %}">Feedback</a>
                </nav>
            </div>
        </div>
</header>

<div class="logo">
    <div class="container">

    </div>
</div>

<section class="section">

        <div class="container">
            <div class="section_header">
                <h3 class="section_subtitle">What I do</h3>
                <h2 class="section_title">Story about me</h2>
                <div class="section_text">
                    <p>I am lucky, because I combine my favorite business and work. I've been drawing since I was a child and I've never seen myself in anything else. Each illustration for me is a new story told by me. All my characters resemble the characters of a children's fairy tale. This is not just a coincidence, because in the future I dream of illustrating books for children. What could be more wonderful and carefree than the good old fairy tales told to us as children?;)</p>
                </div>
            </div>

            <div class="about">
                <div class="about_item">
                    <img alt = "" width="180" src="{% static 'image/about1.jpg' %}">
                </div>
                <div class="about_item">
                    <img alt = "" width="180" src="{% static 'image/about3.jpg' %}">
                </div>
                <div class="about_item">
                    <img alt = "" width="180" src="{% static 'image/about2.jpg' %}">
                </div>

            </div>

        </div>

</section>

<div class="statistics">
    <div class="container">

        <div class="stat">
            <div class="stat_item">
                <div class="stat_count">34695</div>
                <div class="stat_text">Illustation</div>
            </div>
            <div class="stat_item">
                <div class="stat_count">5475</div>
                <div class="stat_text">Character</div>
            </div>
            <div class="stat_item">
                <div class="stat_count">17557</div>
                <div class="stat_text">Happy client</div>
            </div>
            <div class="stat_item">
                <div class="stat_count">9233800</div>
                <div class="stat_text">Sleepless nights</div>
            </div>
            <div class="stat_item">
                <div class="stat_count">3394995</div>
                <div class="stat_text">Cap of coffee</div>
            </div>
        </div>

    </div>

</div>

<section class="section">
    <div class="container">
        <div class="section_header">
                <h3 class="section_subtitle">Illustrations</h3>
                <h2 class="section_title">Illustration based yor photos, comics, custom works</h2>
         </div>

        <div class="services">
            <div class="services_item">
                <div class="services_icon">
                    <img alt = "" width="75" src="{% static 'image/boy.png' %}">
                </div>

                <div class="services_title">Single portraits</div>
                <div class="services_text">You can order a drawing of yourself or give a portrait to a friend. Often people order portraits of their pets!</div>

            </div>
            <div class="services_item">
                <div class="services_icon">
                    <img alt = "" width="75" src="{% static 'image/relationship.png' %}">
                </div>

                <div class="services_title">Family illustrations</div>
                <div class="services_text">The warmest and most cozy drawings - family ones.</div>
            </div>
            <div class="services_item">
                <div class="services_icon">
                    <img alt = "" width="75" src="{% static 'image/artist.png' %}">
                </div>
                <div class="services_title">Other topics</div>
                <div class="services_text">I also draw comics, website illustrations, and store stickers.</div>
            </div>
        </div>

    </div>
</section>

<div class="illustration">

    <div class="container">

    </div>

</div>

<section class="contacts">
    <div class="container">
        <h3 class="contacts_subtitle">Contacts</h3>
        <h2 class="contacts_title">How can you contact me</h2>
    </div>


    <div class="photo">
        <div class="photo_item">
            <img alt = "" width="600" src="{% static 'image/photo.jpg' %}">
        </div>
    </div>

</section>





{% block main %}{% endblock %}



<div class="foot">2021 Migusta_art</div>


</body>
</html>