{% extends "base.html" %}

{% load static %}

{% block title %}Иллюстрации{% endblock %}

{% block main %}

    <p>Иллюстрации по вашим фотографиям</p>

    <div class="folders">
        <div class="folder"><img alt="ill1" width="200" src="{% static 'img/ill1.jpg' %}"> Одиночные портреты</div>
        <div class="folder"><img alt="ill2" width="200" src="{% static 'img/ill2.jpg' %}"> Семейные портреты</div>
        <div class="folder"><img alt="ill3" width="200" src="{% static 'img/ill3.jpg' %}"> Иллюстрации под заказ</div>
    </div>


{% endblock %}
