

{% load static %}

{% block title %}Иллюстрации{% endblock %}

{% block main %}

   <div class="headings">

       <p>Иллюстрации по вашим фотографиям</p>

   </div>

    <div class="folders">
        <div class="folder"><a href="one/"><img alt="ill1" width="200" src="{% static 'img/ill1.jpg' %}"></a> Одиночные портреты</div>
        <div class="folder"><a href="para/"><img alt="ill2" width="200" src="{% static 'img/ill2.jpg' %}"></a> Семейные портреты</div>
        <div class="folder"><a href="custom/"><img alt="ill3" width="200" src="{% static 'img/ill3.jpg' %}"></a> Иллюстрации под заказ</div>
    </div>


{% endblock %}
