{% extends "base.html" %}

{% load static %}

{% block title %}Иллюстрации{% endblock %}

{% block main %}
    <div class="center-img">
    <img alt = "logo" width="200" src="{% static 'image/para.jpg' %}">
    <img alt = "logo" width="200" src="{% static 'image/para2.jpg' %}">
    <img alt = "logo" width="200" src="{% static 'image/para3.jpg' %}">
    <img alt = "logo" width="200" src="{% static 'image/para4.jpg' %}">
    <img alt = "logo" width="200" src="{% static 'image/para5.jpg' %}">
    </div>
{% endblock %}