body{
    font-family: "Times New Roman", cursive,sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #1a1111;
}

.aligned{
    width: 800px;
    height: 800px;
    margin: 0px auto;
}

.logo{
    width: 100%;
    height: 100vh;


    background:
    url("../image/logo.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header{
    width: 100%;
    padding-top: 30px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: compact;
    justify-content: space-between;
    align-items: normal;
}

.header_logo{
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    color: #403737;

}

.nav{
    font-size: 14px;
     text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    color: #403737;
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link:hover{
    color: #C09292;

}

.block{
    float: left;
    line-height: 50px;
    font-size: 20px;
    color: #A68E8E;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}


.navigation{
    height: 50px;
}

h1{
    font-weight: bolder;
    text-align: left;
    color: #403737;
    font-size: 28px;
    font-family: "Times New Roman", serif;
}

.section{
    padding: 80px 0;
}

.section_header{
    width: 100%;
    max-width: 950%;
    margin: 0 auto;
    text-align: center;
}


.section_subtitle{
    font-family: cursive;
    font-size: 15px;
    color: #333;
}

.section_title{
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after{
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    margin: 30px auto;

    background-color: #C09292;
}

.section_text{
    font-size: 15px;
    text-align: center;
    color: #999;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about_item{
    width: 30%;
    padding-left: 9%;
    padding-top: 10%;
}

.statistics{
    background-color: #C09292;
}

.stat{
    display: flex;
}

.stat_item{
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #FAEAEA;
    text-align: center;
    color: #ffffff;
}

.stat_item:last-child{
    border-right: 1px solid #FAEAEA;
}

.stat_count{
    font-size: 35px;
    font-weight: normal;
}

.stat_text{
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
 }


.services{
    display: flex;
    padding-top: 80px;
}

.services_item{
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
}

.services_icon{
    position: absolute;
    top: 0;
    left:   0px;
    z-index: 1;
}

.services_title{
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.services_text{
    font-size: 15px;
    color: #999999;
}

.illustration{
    width: 100%;
    height: 100vh;

    padding-top: 80px;


    background:
    url("../image/illustrations.jpg") center
    no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.contacts{
    width: 100%;
    max-width: 950%;
    margin: 0 auto;
    text-align: center;
}

.contacts_subtitle{
    font-family: cursive;
    font-size: 15px;
    color: #333;
}

.contacts_title{
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.contacts_title:after{
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    margin: 30px auto;

    background-color: #C09292;
}

.services{
    display: flex;
    padding-top: 80px;
}

.services_item {
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;

}

.greeting{
    margin-left: 60px;
    margin-right: 10px;
}

.headings {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.foot{
    margin: 150px;
    font-size: medium;
    text-align: center;
}

.description{
    text-align: center;
    margin: 100px;
    font-size: 30px;
}

.folders{
    height: 300px;
    position: relative;
    float: contour;
    left: 12%;

}

.folder{
    float: left;
    line-height: 50px;
    font-size: 20px;
    background-color: darksalmon;
    color: saddlebrown;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.feedback{
    text-align: center;
}

.comment{
    border: #bf967a 1px solid;
    width: 600px;
    margin: auto;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-name{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

.comment-text{
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 5px;
    padding: 10px;
}

.comment-time{
    font-size: 10px;
}

form{
    background: darksalmon;
    float: contour;
    padding: 20px;
    border-radius: 0 10px 10px 0;
}

label, span{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input[type="name"], input[type="text"]{
    border-width: 1px;
    outline: none;
    margin: 0;
    width: 100%;
    padding: 10px 5px;
}

button{
    padding: 10px;
    border-width: 1px;
    display: block;
    width: 100px;
    margin: 25px auto 0;
    text-transform: uppercase;
}

.center-img{
     margin-top: 20px;
}