body{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 23px;
    background-color: bisque;
    color: saddlebrown;
}

.aligned{
    width: 840px;
    height: 800px;
    margin: 0px auto;
}

.logo{
    margin-bottom: 10px;
    margin-top: 10px;
}

.block{
    float: left;
    line-height: 50px;
    font-size: 20px;
    background-color: darksalmon;
    color: saddlebrown;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.navigation{
    height: 50px;
}

h1{
    font-weight: bolder;
    text-align: center;
}

p{
    margin-left: 60px;
    margin-right: 10px;
}

.foot{
    margin: 150px;
    font-size: medium;
    text-align: center;
}

.description{
    text-align: center;
    margin: 100px;
    font-size: 30px;
}

.folders{
    height: 300px;
    position: relative;
    float: contour;
    left: 12%;

}

.folder{
    float: left;
    line-height: 50px;
    font-size: 20px;
    background-color: darksalmon;
    color: saddlebrown;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.order{

}